
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Order Details</h2>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <h5>Order Items:</h5>
                    <ul class="list-group">
                        <li th:each="item : ${order.orderItems}" class="list-group-item">
                            <span th:text="${item.product.name}"></span> -
                            Quantity: <span th:text="${item.quantity}"></span> -
                            Price: $<span th:text="${item.itemPrice}"></span>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item">Order Time: <span th:text="${order.orderTime}"></span></li>
                <li class="list-group-item">Total Price: $<span th:text="${order.totalPrice}"></span></li>
                <li class="list-group-item">Total Items: <span th:text="${order.totalItem}"></span></li>
                <li class="list-group-item">
                    <div class="list-group-item">
                        <h5>Payment Method:</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="cashOnDelivery" value="cash" checked>
                            <label class="form-check-label" for="cashOnDelivery">
                                Cash on Delivery
                            </label>
                        </div>
                        <!-- need to add other payment options -->
                    </div>
                    <h5>Shipping Address:</h5>
                    <ul class="list-group">
                        <li class="list-group-item">District: <span th:text="${order.shippingAddress.district}"></span></li>
                        <li class="list-group-item">City: <span th:text="${order.shippingAddress.city}"></span></li>
                        <li class="list-group-item">Additional Address: <span th:text="${order.shippingAddress.additionalAddress}"></span></li>
                        <li class="list-group-item">Phone Number: <span th:text="${order.shippingAddress.phoneNumber}"></span></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="card-footer text-center">
            <a th:href="@{/order/confirm-order}" class="btn btn-success">Confirm Order</a>
        </div>

    </div>
    <p class="text-center mt-3">Thank you for choosing our service!</p>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>
</script>
</body>
</html>
