<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Products - OrchardCart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
<!-- Navbar -->
<th:block th:insert="fragments/navbar"></th:block>
<div class="flex-grow-1">
    <div class="container mt-4">
        <h2>All Products</h2>
        <div class="row">

            <div th:each="product : ${products}" class="col-md-4 mb-4">
                <div class="card">
                    <img th:src="${product.imageUrl}" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <h5 th:text="'Product name: ' + ${#strings.capitalize(product.name)}" class="card-title"></h5>
                        <p th:text="'Description: ' + ${product.description}" class="card-text"></p>
                        <p th:text="'Price: $' + ${product.price}" class="card-text"></p>
                        <p th:text="'Quantity: ' + ${product.quantity}" class="card-text"></p>
                        <p th:text="'Category: ' + ${product.categoryName}" class="card-text"></p>
                        <p th:text="'Business: ' + ${product.businessName}" class="card-text"></p>
                        <form th:action="@{/cart/addItem}" th:object="${cartItemRequest}" method="post">
                            <input type="hidden" name="productId" th:value="${product.id}" />
                            <input type="hidden" name="quantity" value="1" />
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary btn-icon btn-add-to-cart"><i class="fas fa-cart-plus fa-lg"></i></button>
                                <a th:href="@{'/products/' + ${product.id}}" class="btn btn-info btn-icon"><i class="fas fa-info-circle fa-lg"></i></a>
                                <a th:href="@{'/inquiry/products/' + ${product.id}}" class="btn btn-secondary btn-icon"><i class="fas fa-envelope fa-lg"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<th:block th:insert="fragments/footer"></th:block>
</body>
</html>




