<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<th:block th:insert="fragments/navbar"></th:block>
<div class="container">
    <div class="form-style">
        <h1>Create Product</h1>
        <form action="/products/create" method="post" th:object="${productRequest}" enctype="multipart/form-data">

            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" th:field="*{name}" />
                <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" th:field="*{description}" />
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" class="form-control" th:field="*{price}" />
                <small class="form-text text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" class="form-control" th:field="*{quantity}" />
                <small class="form-text text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></small>
            </div>
            <div class="form-group">
                <label for="categoryName">Category Name:</label>
                <select class="form-control" th:field="*{categoryName}">
                    <option th:each="category : ${categories}" th:value="${category.categoryName}" th:text="${category.categoryName}"></option>
                </select>

            </div>
            <div class="form-group">
                <label for="businessName">Business Name:</label>
                <select class="form-control" th:field="*{businessName}">
                    <option th:each="seller : ${sellers}" th:value="${seller.businessName}" th:text="${seller.businessName}"></option>
                </select>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('businessName')}" th:errors="*{businessName}"></small>
            </div>
            <div class="form-group">
                <label for="imageFile">Image:</label>
                <input type="file" class="form-control-file" name="imageFile" accept="image/*" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Create" />
            </div>
        </form>
    </div>
</div>
<th:block th:insert="fragments/footer"></th:block>
</body>
</html>

