
<div xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home">
            <img th:src="@{/img/logo10.png}" alt="Logo" width="140" height="30" class="d-inline-block align-text-top">
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <form class="d-flex justify-content-center" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 400px;">
                    <button class="btn btn-outline-success" type="submit" style="height: 40px; width: 40px;">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="/products/list">products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/list">categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart/find">
                        <i class="fas fa-shopping-cart fa-lg"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</div>







