/* Body and Navbar */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../img/welcome2.jpg'); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-color: #ffffff;
    color: #333333;
    /*opacity: .98;*/
}
.carousel-image {
    margin-top: 20px;
    width: 98%;
    height: 400px;
}

.form-control {
    width: 250px;
}

.jumbotron {
    text-align: center;
}

.container {
    margin-top: 50px;
    color: #217B7E;
}

.flex-grow-1 {
    flex-grow: 1;
}

.footer {
    width: 100%;
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

.image-section {
    text-align: center;
    margin: 20px 0;
}

.image-section img {
    width: 100%;
    height: auto;
}

.success-message {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.return-home-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.return-home-btn:hover {
    background-color: #286090;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    border-radius: 20px;
    height: 100%;
    background: #f5f5f6;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-title h5 {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    color: #121d62;
    text-align: center;
    text-transform: capitalize;
}

.card-price {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    color: #007bff;
    text-align: center;
}

.home-card-body {
    background-color: #f8f9fa;
    padding: 10px;
    border-top: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: #6a0dad;
    border: none;
}

.btn-primary:hover {
    background-color: #5a0c9a;
}

.registration-type-selection {
    text-align: center;
    margin-top: 50px;
}

.dropdown {
    display: inline-block;
}

.registration-type-btn {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.registration-type-btn:hover {
    background-color: #007bff;
    color: #fff;
}

.form-style {
    width: 50%;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.btn-icon {
    width: 95px;
    height: 40px;
    margin-right: 15px;
}

.btn-add-to-cart {
    width: 95px;
    height: 40px;
}

.detail-btn-add-to-cart {
    width: 250px;
    height: 40px;
}

.detail-btn-icon {
    width: 250px;
    height: 40px;
    margin-right: 5px;
}
.reviews-ratings {
    margin-top: 20px;
}

.review-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-left: 1px solid #f3d72a; /* Add left border */
    border-right: 1px solid #f3d72a; /* Add right border */
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #03b299;
}
tr:hover {
    background-color: #f5f5f6;
}
.quantity-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.quantity-btn:hover {
    background-color: #0056b3;
}

.remove-link {
    color: #d73609;
    cursor: pointer;
}
.icon-size {
    font-size: 20px;
}
.checkout-btn, .continue-shopping-btn {
    margin-top: 20px;
    width: 180px;
    height:40px;
    margin-right: 10px;
}
.spacer {
    margin-left: 5px;
}
.spacer-right {
    margin-right: 30px;
}
.user-spacer{
    margin-right: 50px;
    margin-left: 20px;
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right:100px;
}


.dropdown:hover .dropdown-menu {
    display: block;
}
h1 {
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    color: #34ccc7; /* Blue color for heading */
}

h2 {
    text-align: center;
    margin:10px;
    color: #03b299; /* Blue color for heading */
}

.dropdown-menu {
    background-color: rgba(236, 236, 243, 0.04); /* Elegant background color */
    color: #d70a0a;
    border: 1px solid #ced4da; /* Border */
    border-radius: 0.25rem; /* Border radius */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Box shadow */
}

.dropdown-menu a {
    color: #212529; /* Text color */
    padding: 0.5rem 1rem; /* Padding */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.dropdown-menu a:hover {
    background-color: #f8f9fa; /* Hover background color */
    color: #007bff; /* Hover text color */
}

.dropdown-divider {
    border-top: 1px solid #ced4da; /* Divider line */
}

.dropdown-menu-right {
    right: 0; /* Position on the right */
}

/* Styling for dropdown menu container */
.my-dropdown-menu {
    left: auto;
    right: 50%;
    transform: translateX(50%);
}
