<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inquiry Form</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="fragments/navbar"></th:block>
<div class="container">
    <h1 class="mt-5">Inquiry Form</h1>
    <form th:action="@{/inquiry/products/{id}/submit(id=${productId})}" method="post" th:object="${productInquiry}" class="mt-4">
        <div class="form-group">
            <label for="userEmail">Email:</label>
            <input type="email" th:field="*{userEmail}" class="form-control" id="userEmail" required />
            <span th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="productName">Product Name:</label>
            <input type="text" th:field="*{productName}" class="form-control" id="productName" required />
            <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea th:field="*{message}" class="form-control" id="message" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<th:block th:insert="fragments/footer"></th:block>
</body>
</html>


